html {
  height: 100%;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  height: 100%;
  margin: 0;
  background-image: url(path/stone.png);
}

.title {
  font-size: 30px;
  padding-left: 15px;
  margin-bottom: 50px;
  color: #2d2d2d;
}


.download {
  background-color: #efc0a0;
  color: #0d4921;
  padding: 30px;
}

.download {
  padding: 30px;
  height: 400px;
  color: #ffffff;
}
